$showpad-width: 55rem;
$screen-width: 100%;
$text-xs:0.9rem;
$text-s:1.2rem;
$text-m:1.8rem;
$text-l:2.4rem;
$color-main: #42210B;
$color1: #C69C6D;
$color2: #372114;
$color3: rgb(127,112,105);
$color4: #00A99D;
$color5: #F15A24;
$border:0.1rem solid #D4BDA7;
@mixin grad-bg {
	
}
@mixin testbox($color, $border-w) {
	background: $color;
	border: #{$border-w}px solid black;
}
@mixin padding($side-w, $side-h) {
	padding: #{$side-h}rem #{$side-w}rem #{$side-h}rem #{$side-w}rem;
}
@mixin margin($side-w, $side-h) {
	margin: #{$side-h}rem #{$side-w}rem #{$side-h}rem #{$side-w}rem;
}
@mixin mainfont {
	font-family: Arial;
}
@mixin shadow($blur,$deep,$alpha) {
	-moz-box-shadow: 0.2rem 0.2rem #{$blur}rem #{$deep}rem rgba(0,0,0,$alpha);
	-webkit-box-shadow: 0.2rem 0.2rem #{$blur}rem #{$deep}rem rgba(0,0,0,$alpha);
	box-shadow: 0.2rem 0.2rem #{$blur}rem #{$deep}rem rgba(0,0,0,$alpha);
}
@mixin div-center {
	display:box;
	box-orient:horizontal;
	box-pack:center;
	box-align:center;
	display:-webkit-box;
	-webkit-box-orient:horizontal;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	display:-moz-box;
	-moz-box-orient:horizontal;
	-moz-box-pack:center;
	-moz-box-align:center;
}
@-webkit-keyframes myfirst {
	0%   {left:0px; top:0px;}
	100%  {left:500px; top:0px;-webkit-animation-play-state: paused;}
}
body {
	Font-size: 63%;
	margin: 0em;
	width: $screen-width;
	background-image:url("../images/bg.png");
}
a {
	color: $color-main;
}
a:hover {
	text-decoration: none;
}
@mixin inline-top {
	display: inline-block;
	vertical-align:top;
}
.center {
	text-align: center;
}
#center {
	clear: both;
	margin-left: auto;
	margin-right: auto;
}
#left {
	position: absolute;
	div {
	@include padding(3,3);
	}
}
.tab-content {
	margin-top: -0.7rem;
	overview: hidden;
}
.menubar {
	font-size:$text-s;
	@include mainfont;	
	background: -webkit-gradient(linear,left top, left bottom, color-stop(0%,#FFD6C9),color-stop(100%,#FFE9D7));
	

}
.menu-item {
	div {		
		display: inline-block;
		@include padding(1.2,0);
		@include mainfont;
		padding-top: 5rem;
		padding-bottom: 2rem;
	}
	img {
		margin-right: 0.8rem;
	}
}
.checked {
	
	@include padding(1.2,0);
	@include mainfont;
	padding-top: 5rem;
	padding-bottom: 2rem;
	background-image: url("../images/pic_arrow.png");
	background-repeat: no-repeat;
	background-position: left bottom;
}
.search {
	font-size: $text-m;
	position: relative;
	border-radius: 20px;
}
.moredetail, #moredetail {
	width:$showpad-width + 1rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.7rem;
	margin-bottom: 2rem;
	clear: both;
}
.showpad {
	width: $showpad-width - 1.6rem;
	border-radius: 0.6rem;
	background: white;
	padding: 0.8rem;
	border: $border;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 0;
	@include shadow(0.5,0,0.3);
}
#showpad:hover {
	
}
#overview {
	max-width:$showpad-width * 1.5;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.4em;
	div {
		float: left;
	}
	.thumbnail_my {
		width: 190px;
		height: 190px;
		padding: 8px;
		margin-right: 2px; 
		margin-bottom: 10px; 
		background: $color3;
	}
	.thumbnail_my:hover {
		background: white;
		@include shadow(0.3,0,0.3);
		transition: all 0.3s;
		cursor: pointer;
	}
	.cato {
		width: 66px;
		height: 81px;
		padding: 120px 0 5px 0; 
		margin-bottom: 10px;
		margin-left: 10px;
		border-radius: 10px 0 0 10px;
	}
}
#aboutme {
	width: $showpad-width *4/5;
	background: rgba(255,255,255,0.2);
	padding: 30px;
	margin-left: auto;
	margin-right: auto;
}
.cato1 {
	background: $color4;
}
.cato2 {
	background: $color5;
}
.area-title {
	max-width: $showpad-width *2/3;
	padding: 1.5rem 1rem 1em 1em;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}
.title {
	font-family: Helvetica;
	Font-size: $text-l;
	line-height: 3.5rem;
	color: $color-main;
}
.subdescri {
	Font-size: $text-xs;
	color:#534741;
}
.pic-show {
	width:$showpad-width;
}
.pic-small {
	width: 5rem;
	height: 5rem;
}
.descri {
	font-size: $text-s;
	background: #eee;
	line-height: $text-s + 0.5rem;
	display: inline-block;
	@include padding(1,1);
	@include shadow(0.3,0,0.3);
}
.tag {
	float: right;
	width: 6.8rem;
	margin-top: 0.3rem;
	margin-right: -1.5rem;
	@include padding(1,0);
	div {
		float: left;
	}
}
.area-detail {
	max-width: $showpad-width - 1.6rem;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}
.area-sidebar {
	position: fixed;
	margin-left: $showpad-width + 1rem;
	margin-top: 20px;
	z-index: 5;
	list-style: none;
	a {
		font-size: $text-s;
		line-height: $text-s + 0.4rem;
		font-family: verdana;
		color: white;
		display: inline-block;
		vertical-align: middle;
		width: 90px;
	
		@include padding(0.5,0.5);
	}
	a:hover {
		text-decoration: none;
	}
	li {
		margin-bottom: 4px; 
	}
}
.arrow-left {
	display: inline-block;
	vertical-align: middle;
	border-right: 12px solid transparent; 
	border-top: 12px solid transparent; 
	border-bottom: 12px solid transparent;
}
.arrow-checked {
	border-right: 12px solid $color-main;
}
.alpha03 {
	opacity: 0.3;
}
.clear {
	clear: both;
}
.me {
	font-size: $text-xs + 0.1rem;
	line-height: $text-l;
	img {
		border: 10px solid $color3;
		border-radius: 5px;
	}
}
.contact {
	display: inline-block;
	@include padding(0.5,0);
	margin-left: -0.5rem;
	color: $color5;
	background: white;
}
