/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@-webkit-keyframes myfirst {
  /* line 62, ../sass/style.scss */
  0% {
    left: 0px;
    top: 0px;
  }

  /* line 63, ../sass/style.scss */
  100% {
    left: 500px;
    top: 0px;
    -webkit-animation-play-state: paused;
  }
}

/* line 65, ../sass/style.scss */
body {
  Font-size: 63%;
  margin: 0em;
  width: 100%;
  background-image: url("../images/bg.png");
}

/* line 71, ../sass/style.scss */
a {
  color: #42210b;
}

/* line 74, ../sass/style.scss */
a:hover {
  text-decoration: none;
}

/* line 81, ../sass/style.scss */
.center {
  text-align: center;
}

/* line 84, ../sass/style.scss */
#center {
  clear: both;
  margin-left: auto;
  margin-right: auto;
}

/* line 89, ../sass/style.scss */
#left {
  position: absolute;
}
/* line 91, ../sass/style.scss */
#left div {
  padding: 3rem 3rem 3rem 3rem;
}

/* line 95, ../sass/style.scss */
.tab-content {
  margin-top: -0.7rem;
  overview: hidden;
}

/* line 99, ../sass/style.scss */
.menubar {
  font-size: 1.2rem;
  font-family: Arial;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffd6c9), color-stop(100%, #ffe9d7));
}

/* line 107, ../sass/style.scss */
.menu-item div {
  display: inline-block;
  padding: 0rem 1.2rem 0rem 1.2rem;
  font-family: Arial;
  padding-top: 5rem;
  padding-bottom: 2rem;
  vertical-align: middle;
}
/* line 115, ../sass/style.scss */
.menu-item img {
  margin-right: 0.8rem;
}

/* line 119, ../sass/style.scss */
.checked {
  padding: 0rem 1.2rem 0rem 1.2rem;
  font-family: Arial;
  padding-top: 5rem;
  padding-bottom: 2rem;
  background-image: url("../images/pic_arrow.png");
  background-repeat: no-repeat;
  background-position: left bottom;
}

/* line 129, ../sass/style.scss */
.search {
  font-size: 1.8rem;
  position: relative;
  border-radius: 20px;
}

/* line 134, ../sass/style.scss */
.moredetail, #moredetail {
  width: 56rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.7rem;
  margin-bottom: 2rem;
  clear: both;
}

/* line 142, ../sass/style.scss */
.showpad {
  width: 53.4rem;
  border-radius: 0.6rem;
  background: white;
  padding: 0.8rem;
  border: 0.1rem solid #d4bda7;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 0;
  -moz-box-shadow: 0.2rem 0.2rem 0.5rem 0rem rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0.2rem 0.2rem 0.5rem 0rem rgba(0, 0, 0, 0.3);
  box-shadow: 0.2rem 0.2rem 0.5rem 0rem rgba(0, 0, 0, 0.3);
}

/* line 157, ../sass/style.scss */
#overview {
  *zoom: 1;
  max-width: 950px;
  _width: 950px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.4em;
}
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#overview:after {
  content: "";
  display: table;
  clear: both;
}
/* line 163, ../sass/style.scss */
#overview div {
  float: left;
}
/* line 166, ../sass/style.scss */
#overview .thumbnail_my {
  position: relative;
  width: 22.73684%;
  float: left;
  margin-right: 1.05263%;
  display: inline;
  padding: 8px;
  margin-right: 5px;
  margin-bottom: 5px;
  background: #7f7069;
}
/* line 174, ../sass/style.scss */
#overview .thumbnail_my img {
  width: 100%;
}
/* line 179, ../sass/style.scss */
#overview .thumbnail_my:hover {
  background: white;
  -moz-box-shadow: 0.2rem 0.2rem 0.3rem 0rem rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0.2rem 0.2rem 0.3rem 0rem rgba(0, 0, 0, 0.3);
  box-shadow: 0.2rem 0.2rem 0.3rem 0rem rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
  cursor: pointer;
}
/* line 185, ../sass/style.scss */
#overview .cato {
  position: absolute;
  left: 0;
  top: 0;
  width: 45px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0 0 10px 0;
}

/* line 198, ../sass/style.scss */
#aboutme {
  width: 44rem;
  background: rgba(255, 255, 255, 0.2);
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* line 205, ../sass/style.scss */
.cato1 {
  background: #00a99d;
}

/* line 208, ../sass/style.scss */
.cato2 {
  background: #f15a24;
}

/* line 211, ../sass/style.scss */
.area-title {
  max-width: 36.66667rem;
  padding: 1.5rem 1rem 1em 1em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* line 218, ../sass/style.scss */
.title {
  font-family: Helvetica;
  Font-size: 2.4rem;
  line-height: 3.5rem;
  color: #42210b;
}

/* line 224, ../sass/style.scss */
.subdescri {
  Font-size: 0.9rem;
  color: #534741;
}

/* line 228, ../sass/style.scss */
.pic-show {
  width: 55rem;
}

/* line 231, ../sass/style.scss */
.pic-small {
  width: 5rem;
  height: 5rem;
}

/* line 235, ../sass/style.scss */
.descri {
  font-size: 1.2rem;
  background: #eee;
  line-height: 1.7rem;
  display: inline-block;
  padding: 1rem 1rem 1rem 1rem;
  -moz-box-shadow: 0.2rem 0.2rem 0.3rem 0rem rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0.2rem 0.2rem 0.3rem 0rem rgba(0, 0, 0, 0.3);
  box-shadow: 0.2rem 0.2rem 0.3rem 0rem rgba(0, 0, 0, 0.3);
}

/* line 243, ../sass/style.scss */
.tag {
  float: right;
  width: 6.8rem;
  margin-top: 0.3rem;
  margin-right: -1.5rem;
  padding: 0rem 1rem 0rem 1rem;
}
/* line 249, ../sass/style.scss */
.tag div {
  float: left;
}

/* line 253, ../sass/style.scss */
.area-detail {
  max-width: 53.4rem;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* line 259, ../sass/style.scss */
.area-sidebar {
  position: fixed;
  margin-left: 56rem;
  margin-top: 20px;
  z-index: 5;
  list-style: none;
}
/* line 265, ../sass/style.scss */
.area-sidebar a {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-family: verdana;
  color: white;
  display: inline-block;
  vertical-align: middle;
  width: 90px;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}
/* line 276, ../sass/style.scss */
.area-sidebar a:hover {
  text-decoration: none;
}
/* line 279, ../sass/style.scss */
.area-sidebar li {
  margin-bottom: 4px;
}

/* line 283, ../sass/style.scss */
.arrow-left {
  display: inline-block;
  vertical-align: middle;
  border-right: 12px solid transparent;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}

/* line 290, ../sass/style.scss */
.arrow-checked {
  border-right: 12px solid #42210b;
}

/* line 293, ../sass/style.scss */
.alpha03 {
  opacity: 0.3;
}

/* line 296, ../sass/style.scss */
.clear {
  clear: both;
}

/* line 299, ../sass/style.scss */
.me {
  font-size: 1rem;
  line-height: 2.4rem;
}
/* line 302, ../sass/style.scss */
.me img {
  border: 10px solid #7f7069;
  border-radius: 5px;
}

/* line 307, ../sass/style.scss */
.contact {
  display: inline-block;
  padding: 0rem 0.5rem 0rem 0.5rem;
  margin-left: -0.5rem;
  color: #f15a24;
  background: white;
}
